In [1]:
import pandas_datareader.data as web

web.DataReader('6758.JP', 'stooq')

/Users/nakamuratatsuya/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

               Open     High      Low    Close    Volume
Date
2020-05-22  6835.00  6912.00  6749.00  6773.00   5025900
2020-05-21  6810.00  6877.00  6782.00  6795.00   5431200
2020-05-20  6727.00  6840.00  6656.00  6747.00  11826100
2020-05-19  6852.00  7000.00  6781.00  6902.00   9304200
2020-05-18  6800.00  6867.00  6663.00  6685.00   7282300
...             ...      ...      ...      ...       ...
2015-06-03  3688.05  3704.08  3641.37  3651.09   8375269
2015-06-02  3739.10  3751.74  3690.46  3701.67   5438792
2015-06-01  3714.79  3728.40  3673.94  3717.22   8731582
2015-05-29  3749.79  3762.45  3731.32  3755.65   8255059
2015-05-28  3753.69  3790.16  3719.66  3731.32   9538403

[1217 rows x 5 columns]

In [ ]:
tsd = web.DataReader("^N225","yahoo","2010/1/1").dropna()#jpy
tsd.loc[:,'Adj Close'].plot()
tsd.to_csv("tsd.csv")

In [2]:
l = [6758, 6501, 6752]    # ソニー、日立製作所、パナソニック

web.DataReader([str(c) + '.JP' for c in l], 'stooq')

Attributes    Close                       High                        Low  \
Symbols     6758.JP  6501.JP  6752.JP  6758.JP  6501.JP  6752.JP  6758.JP
Date
2015-05-28  3731.32  4156.25  1649.06  3790.16  4175.90  1658.46  3719.66
2015-05-29  3755.65  4164.60  1638.32  3762.45  4177.35  1655.33  3731.32
2015-06-01  3717.22  4136.70  1625.35  3728.40  4143.55  1630.72  3673.94
2015-06-02  3701.67  4147.00  1616.41  3751.74  4197.95  1634.30  3690.46
2015-06-03  3651.09  4122.95  1602.09  3704.08  4137.20  1615.95  3641.37
...             ...      ...      ...      ...      ...      ...      ...
2020-05-18  6685.00  3109.00   809.50  6867.00  3124.00   813.20  6663.00
2020-05-19  6902.00  3253.00   866.10  7000.00  3279.00   874.50  6781.00
2020-05-20  6747.00  3261.00   881.60  6840.00  3274.00   885.30  6656.00
2020-05-21  6795.00  3235.00   882.60  6877.00  3320.00   903.00  6782.00
2020-05-22  6773.00  3200.00   879.10  6912.00  3239.00   893.60  6749.00

Attributes                      Open                        Volume             \
Symbols    6501.JP  6752.JP  6758.JP  6501.JP  6752.JP     6758.JP    6501.JP
Date
2015-05-28  4142.6  1642.35  3753.69  4166.55  1655.33   9538403.0  4445110.0
2015-05-29  4145.0  1625.35  3749.79  4159.25  1648.17   8255059.0  4892499.0
2015-06-01  4100.9  1614.16  3714.79  4140.10  1619.54   8731582.0  3826889.0
2015-06-02  4126.9  1615.51  3739.10  4152.85  1628.48   5438792.0  4624515.0
2015-06-03  4093.6  1598.94  3688.05  4120.55  1615.07   8375269.0  3243161.0
...            ...      ...      ...      ...      ...         ...        ...
2020-05-18  3064.0   803.70  6800.00  3077.00   809.80   7282300.0  1948300.0
2020-05-19  3209.0   841.10  6852.00  3230.00   850.00   9304200.0  3619100.0
2020-05-20  3201.0   855.50  6727.00  3212.00   860.00  11826100.0  2448500.0
2020-05-21  3232.0   882.50  6810.00  3298.00   899.00   5431200.0  2655300.0
2020-05-22  3166.0   873.60  6835.00  3197.00   882.80   5025900.0  2493600.0

Attributes
Symbols        6752.JP
Date
2015-05-28   8881717.0
2015-05-29  11088093.0
2015-06-01   6991402.0
2015-06-02   5391325.0
2015-06-03   6031378.0
...                ...
2020-05-18   8188000.0
2020-05-19  17434900.0
2020-05-20  10079000.0
2020-05-21   7340300.0
2020-05-22   5932800.0

[1217 rows x 15 columns]

In [4]:
import pandas_datareader.data as web
#マザーズ
web.DataReader('2516.JP', 'stooq')

            Open  High   Low  Close  Volume
Date
2020-05-22   711   717   696    707  667410
2020-05-21   699   708   682    708  956480
2020-05-20   671   696   670    692  494020
2020-05-19   684   685   663    677  400490
2020-05-18   641   674   638    674  703300
...          ...   ...   ...    ...     ...
2018-02-07   957   957   884    884  241670
2018-02-06   906   923   856    897  407770
2018-02-05   985   989   971    981  178980
2018-02-02  1024  1024   998   1011  219710
2018-02-01  1022  1024  1006   1022  308400

[559 rows x 5 columns]

In [ ]:
#マザーズ
web.DataReader('2516.JP', 'stooq')